<!DOCTYPE html>
<html>

  <head>
    <title>Kalendar</title>
  </head>
  <body>
    <div class="navigacija">
      <app-navigation></app-navigation>
    </div>
    <div class="backgr">
      <div class="header">
        <h1>Kalendar ispita</h1>
        <p>Organizuj svoj ispitni rok</p> 
      </div>

      <div class="grid">
        <div class="container">
          <div>
            <div class="kalendar" id="kalendar">
              <full-calendar [options]= "calendarOptions" ></full-calendar>
              <h3>*Selektovanjem datuma na kalendaru (ukoliko nije odabrana opcija "Brisanje" 
                omogućeno je dodavanje ispita za taj datum</h3>
            </div>
            
          </div>
          <div class="dugmici">
            <h3>Izaberite opciju za modifikovanje kalendara</h3>
            <hr>
            <div class="btn-block">
              <button 
              (click) ="this.rucniUnos=true;this.isClickedAdd=false;this.brisanje=false" 
              *ngIf="!rucniUnos">Dodavanje ispita sa unosom datuma</button>
            </div>
            <div class="btn-block">
              <button 
              (click) ="this.brisanje=true; this.rucniUnos=false;this.isClickedAdd=false;this.izmena=false"
               *ngIf="!brisanje">Brisanje ispita</button>
              <h2 *ngIf= "brisanje" >Selektujte datum na kalendaru za koji zelite da uklonite ispit</h2>
            </div>
            <div class="btn-block">
              <button 
              (click) ="this.izmena=true;this.brisanje=false; this.rucniUnos=false;this.isClickedAdd=false" 
              *ngIf= "!izmena">Izmena podataka o ispitu</button>
              <h3 *ngIf= "izmena" >Klikom na kalendaru selektujte koji ispit zalite da izmenite</h3>
              <h3 *ngIf= "otvoriFormularZaIzmenu" >Sada popunite formular</h3>
            </div>

          
            
            <div class="formulari">
              <form [formGroup]= "formularZaUnos" action="/" (onSubmit)= "unosSaDatumom(this.formularZaUnos.value)" *ngIf="(rucniUnos && !isClickedAdd)">
                <div class="banner">
                  <h1>Unesite naziv,vreme i datum ispita:</h1>
                </div>
                <div class="item">
                  <p>Naziv predmeta</p>
                  <div class="name-item">
                    <input type="text" name="title" id="title" formControlName="title" placeholder="Naziv ispita"/>
                  </div>
                </div>
                <div class="item">
                  <p>Datum ispita</p>
                  <div class="name-item">
                    <input type="text" name="title" id="date" formControlName="date" placeholder="GGGG-MM-DD"/>
                  </div>
                </div>
                <div class="item">
                  <p>Vreme ispita</p>
                  <div class="name-item">
                    <input type="text" name="time" id="time" formControlName="time" placeholder="hh"/>
                </div>
                </div>
          
                <div class="btn-block">
                <button type="submit" (click) ="unosSaDatumom(this.formularZaUnos.value)">Sačuvaj</button>
                </div>
              </form>


              <form [formGroup]= "formularZaUnos" action="/" (onSubmit)= "submitForm(this.formularZaUnos.value)"  *ngIf= "isClickedAdd">
                <div class="banner">
                  <h1>Unesite naziv i vreme ispita za datum: {{datumZaUnos}}</h1>
                </div>
                <div class="item">
                  <p>Naziv predmeta</p>
                  <div class="name-item">
                    <input type="text" name="title" id="title" formControlName="title" placeholder="Naziv ispita"/>
                  </div>
                </div>
                <div class="item">
                  <p>Vreme ispita</p>
                  <div class="name-item">
                    <input type="text" name="time" id="time" formControlName="time" placeholder="hh"/>
                  </div>
                </div>
                  <div class="btn-block">
                    <button type="submit" (click) ="submitForm(this.formularZaUnos.value)">Sačuvaj</button>
                  </div>
              </form>


              <form [formGroup]= "formularZaUnos" action="/" (onSubmit)= "submitForm(this.formularZaUnos.value)"  *ngIf= "otvoriFormularZaIzmenu">
                <div class="banner">
                  <h1>Unesite nov datum i vreme:</h1>
                </div>
                <div class="item">
                  <p>Datum:</p>
                  <div class="name-item">
                    <input type="text" name="date" id="date" formControlName="date" placeholder="GGGG-MM-DD"/>
                  </div>
                </div>
                <div class="item">
                  <p>Vreme ispita</p>
                  <div class="name-item">
                    <input type="text" name="time" id="time" formControlName="time" placeholder="hh"/>
                  </div>
                </div>
                  <div class="btn-block">
                    <button type="submit" (click) ="izmeni(this.datumZaUnos);otvoriFormularZaIzmenu=false">Sačuvaj</button>
                  </div>
              </form>
            </div>
            
          </div>
        </div>
        <div class="lista-ispita">
          <ul  *ngFor="let ispit of this.ispiti |async" class="list-group">
            <li class="list-group-item ispit"> Ispit :{{ispit.naziv}} se odrzava : {{ispit.datum}}</li>
          </ul>
        </div>
    </div>
</div>