@font-face {
  font-family: Poppins-Regular;
  src: url('/assets/fonts/poppins/Poppins-Regular.ttf');
}

.note-card-container{
  font-family: Poppins-Regular, sans-serif;
  position: relative;
  background: white;
  width: 100%;

  box-shadow: 0px 2px 15px 2px black;
  border-radius: 5px;

  /*margin between the card elements*/
  margin: 15px;

  transition: box-shadow 0.2s ease-out;

  /*to prevent text from overflowing*/
  word-wrap: break-word;
}

div.note-card-container:hover{
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px black;


}

div.note-card-container:hover div.x-button{
  opacity: 1;
  transition-delay: 0.25s;

  transform: scale(1);
}


.note-card-body{
  position: relative;
  /*max height before it is truncated*/
  max-height: 80px;
  overflow: hidden;

  color: #555;
  margin-top: -12px;

}

.fade-out-truncation{
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;

  pointer-events: none;
  background-image: linear-gradient(to bottom,  rgba(0, 0, 0, 0), rgb(255, 251, 251));

}

.note-card-content{
  padding: 15px;
  background: white;


  box-shadow: 0px 2px 15px 2px grey;
  border-radius: 5px;


}

.note-card-title{
  font-size:18px;
  font-weight: bold;
  color :#859ad7;
  margin-bottom: 7px;

}

.x-button{
  position: absolute;
  top:12px;
  right:12px;

  height: 34px;
  width:34px;

  background-color: #fff3f3;
  background-image: url('../../../assets/images/delete_icon.svg');
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 4px;

  transition: opacity 0.2s ease-out, transform 0.2 ease-out;
  /*button is hidden by feault*/
  opacity: 0;

  transform: scale(0.35);

}

div.x-button:hover{
  background-color: #ffdbdb;
}


div.x-button:active{
  background-color: #ffc1c1;
}
