    <div class="sidebar-navigation">
        <div class="logo">
            <p>{{user.ime}} {{user.prezime}}</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a (click)="scrollToElement(slider)">
                        <span class="circle"></span>
                        Početak
                    </a>
                </li>
                <li>
                    <a (click)="scrollToElement(myNotes)">    
                        <span class="circle"></span>
                        Beleške
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/examGrade']">    
                        <span class="circle"></span>
                        Ostvareni poeni
                    </a>
                </li>
                <li>
                    <a [routerLink] = "['/raspored']">
                        <span class="circle"></span>
                        Raspored
                    </a>
                </li>
                <li>
                    <a [routerLink] = "['/kalendar']">
                        <span class="circle"></span>
                        Kalendar
                    </a>
                </li>
                <li>
                    <a [routerLink] = "['/account']">
                        <span class="circle" ></span>
                        Moj nalog
                    </a>
                </li>
                <li>
                    <a  (click) = "logOut()">
                        <span class="circle"></span>
                        Odjavi se
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="slider" #slider>
        <div class="Modern-Slider content-section" id="top">
            <div class="item item-1">
                <div class="image"></div>
                <div class="info">
                    <div class="backgr">
                        <h1>Zdravo, otvori svoj lični planer!</h1>
                        <p>Studentska aplikacija koja ti pomaže da isplaniraš svoje obaveze i postigneš svoje ciljeve!</p>
                        <a >
                            <div  class="white-button button" (click)="scrollToElement(myNotes)">
                                počni
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div id="note" class="note-container" #myNotes >
        <app-main-layout></app-main-layout>
    </div>

    
    
    <section class="footer">
        <p>
            <a (click) = "logOut()">Odjavi se</a> 
        </p>
    </section>    
