<div class="display-1 text-center err">
    <div class="black-layover">
        {{statusCode}}
        <h1>an error occured ;(</h1>
        
        <p class="text-center">
            {{message}}
        </p>
    </div>
</div>