.btn1{
    border:none;

    float: right;
    background-color:#45489a;
    color: #fff;
}

.btn3, .btn4{
    border:none;

    float: right;
    background-color:#45489a;
    color: #fff;
}

.btn3:hover{
    border:none;

    float: right;
    background-color:forestgreen;
    color: #fff;
}

.btn1:hover{
    border:none;
    color: #45489a;
    background-color: #fff;
}

.btn2{
    border:none;
    background-color:#957DAD;
    color: #fff;
}

.container{
    margin: 20px;
}

@font-face {
    font-family: Poppins-Regular;
    src: url('/assets/fonts/poppins/Poppins-Regular.ttf');
  }

li{
    font-family: Poppins-Regular, sans-serif;
    margin-bottom: 5px;
    background-color: #859ad7;
    color: #fff;
    font-size: 14px;
    word-spacing: 10px;
}

h1{
    font-size: 48px;
    margin: 40px;
    margin-left: 0px;
    color: #45489a;
    font-weight: 700;
}